<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book Reviews</title>
</head>
<body>
  <h1>Welcome, {{request.session.user_name}}</h1>
  <a href="{% url 'books_add' %}">Add a Book and Review</a><a href="{% url 'logout' %}">Logout</a>
  <h2>Recent Book Reviews:</h2>
  {% if reviews %}
    {% for review in reviews %}
    <h5><a href="{% url 'books_show' book_id=review.book.id %}">{{review.book.title}}</a></h5>
    <h5>Rating: {{review.rating}}</h5>
    <h5><a href="{% url 'users_show' user_id=review.user.id %}">{{review.user.name}}</a> says: {{review.review}}</h5>
    <h6>Posted on {{review.created_at}}</h6>
    {% endfor %}
  {% endif %}
</body>
</html>
